body{
    background: #1e1e1e; /* Cor de fundo do elemento */
    color: #fff; /* Cor do texto */
}

span{
    color: limegreen; /* Cor do texto */
}

.principal{
    display: flex; /* Posiciona elementos um ao lado do outro. */
    flex-direction: column; /* Direciona elementos na vertical. */
    justify-content: center; /* Centraliza na horizontal. */
    align-items: center; /* Centraliza na vertical. */
    max-width: 1200px; /* Tamanho máximo da largura. */
    width: 100%; /* Largura toal da tela. */
    margin: 0 auto; /* margens superior.inferior, direita.esquerda */
}