*{
    margin: 0;
    padding: 0;
}

body{
    background: pink;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #fff;
    background: blue;
    padding: 15px 20px;
    margin: 100px 30px;
}

header{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #848484;
    top: 0;
    left: 0;
    text-align: center;
}